.root {
  display: flex;
  background: #e2e2e2;
  height: calc(100vh - 50px);
  justify-content: center;
  align-items: center;
}

.form {
  background: #b1abab;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 400px;
  gap: 20px;
  border-radius: 20px;
}

.title {
  padding: 0;
  margin: 0;
}

.input {
  border-radius: 8px;
  height: 44px;
}

.button {
  background: #353535;
  color: #fff;
  border: none;
  border-radius: 8px;
  height: 44px;
  cursor: pointer;
}

.button:hover {
  background: #222222;
}

.error {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: start;
}

//.disabled {
//  cursor: not-allowed;
//  background: #9e9d9d;
//  color: #000;
//}

//.disabled:hover {
//  background: #9e9d9d;
//}
