@import '../../styles/colors.scss';
@import '../../styles/mixins';

.userHistory {
  width: 100%;
  background-color: $violet;
  padding-bottom: 140px;
  min-height: calc(100vh - 280px);
}

.container {
  width: 82%;
  margin: 0 auto;

  .title {
    @include font-source-sans(40px, $white, 800, 52px);
    padding-bottom: 52px;
  }
}

.table {
  display: flex;
  flex-direction: column;
  max-width: 1180px;
  margin: 0;

  .header {
    list-style: none;
    width: 100%;
    padding: 12px;
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr 1fr 24px;
    grid-template-rows: 1fr;
    grid-template-areas: 'date is_encryption algorithm key btn';
    gap: 20px;
    margin: 0;
    @include font-source-sans(18px, $white, 400, 24px);
    border-bottom: 1px solid $white;
    margin-bottom: 20px;

    @media screen and (max-width: 1125px) {
      @include font-source-sans(14px, $white, 400, 18px);
    }

    &li {
      word-wrap: break-word;
      word-break: break-all;
    }

    &_date {
      grid-area: date;
    }
    &_is_encryption {
      grid-area: is_encryption;
    }
    &_algorithm {
      grid-area: algorithm;
    }
    &_key {
      grid-area: key;
    }
  }
}
