@import '../../styles/colors.scss';
@import '../../styles/mixins';

.accordionHistoryItem {
  @include font-source-sans(18px, $white, 400, 24px);
  background-color: transparent;
  margin-bottom: 16px;
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr 24px;
  grid-template-rows: minmax(24px, max-content) 1fr;
  column-gap: 20px;
  row-gap: 6px;
  border-radius: 8px;
  grid-template-areas:
    'date is_encryption algorithm key btn'
    'request request encrypted_text encrypted_text encrypted_text';
  padding: 12px 12px 0;
  box-sizing: border-box;
  vertical-align: center;
  @media screen and (max-width: 1125px) {
    @include font-source-sans(14px, $white, 400, 18px);
  }

  &_date {
    grid-area: date;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &_is_encryption {
    grid-area: is_encryption;
  }
  &_algorithm {
    grid-area: algorithm;
  }
  &_key {
    grid-area: key;
    word-break: break-all;
  }
  &_btn {
    grid-area: btn;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    border: none;
    background-image: url('../../assets/icons/arrow-down-light.svg');
  }
  &_btn_dark {
    grid-area: btn;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    border: none;
    background-image: url('../../assets/icons/arrow-down-dark.svg');
  }
  &_request {
    grid-area: request;
    word-wrap: break-word;
    word-break: break-all;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    @include font-source-sans(16px, 400, 20px);
    margin-bottom: 12px;
  }
  &_response {
    word-wrap: break-word;
    word-break: break-all;
    grid-area: response;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    @include font-source-sans(16px, 400, 20px);
    margin-bottom: 12px;
  }
}

.accordionHistoryItem:nth-child(even) {
  @include font-source-sans(18px, $violet, 400, 24px);
  background-color: $white;
  border-radius: 8px;
  @media screen and (max-width: 1125px) {
    @include font-source-sans(14px, $violet, 400, 18px);
  }

  &_btn {
    background-image: url('../../assets/icons/arrow-down-dark.svg');
  }
}

button .accordionHistoryItem_btn {
  background-image: url('../../assets/icons/arrow-down-dark.svg');
  color: red;
}
