@import '../../styles/colors.scss';

.tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: $violet;
  gap: 20px;
}

.tab {
  padding: 14px 12px;
  font-size: 18px;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.15s;
  background: $violet;
  //&__selected {
  //  border-bottom: 3px solid red;
  //}
  //&:hover {
  //  background-color: rgb(36, 7, 7);
  //}
  &Label {
    color: $white;
    background: $violet;
    &__selected {
      color: $green;
    }
  }
}
