.appButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: #ffffff;
  background-color: #90d3e7;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 0 25px;
  font-weight: 600;
  border-bottom: 1.5px solid #2f2f2f;
  width: 100%;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  &__secondary {
    background: #cdc6c6;
    color: #000;
  }
  &__outlined {
    background: none;
    border: 1.5px solid #000000;
    color: #a5a5a5;
  }
}
