$border: #ad9c9c;
// $background:#e2e2e2;
$background_secondary:#CDC6C6;
$background_text:#fbfbfb;
$background_select:#F3F3F3;
$black: #000000;
$white: #ffffff;
$grey: #afafaf;
$grey_secondary: #969595;
$grey_light: #b4bcc2;
$grey_dark: #676767;
