$border: #ad9c9c;
$background_secondary: #cdc6c6;
$background_text: #fbfbfb;
$background_select: #f3f3f3;
$white: #ffffff;
$gray: #ededed;
$gray_secondary: #969595;
$gray_light: #f4f2eb;
$gray_dark: #55585b;
$gray_bgc: #dbdbdb;
$black-shadow: #10101080;
$black: #101010;
$green: #d7fc52;
$violet: #574cb0;
$green_light: #caf23a;
$dark-gray: #55585b;
$red: #ff5151;
$blue: #4160ea;
$black_light: #3e3e3c;
