@import '../../styles/colors.scss';
@import '../../styles/mixins';

.header {
  position: fixed;
  padding: 0;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: $black;
}

.header_container {
  max-width: calc(100% - 130px * 2);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;

  .logotype {
    background-color: $black;
    height: 80px;
    width: 80px;
  }

  .list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  .chapter {
    padding-right: 32px;
    text-align: center;

    &:last-of-type {
      padding-right: 0;
    }
  }
}

.entrance {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.button_header {
  height: 24px;
  @include font-source-sans(18px, $white, 500, 20px);
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;

  &:hover {
    color: $green;
  }
}

.email {
  margin-right: 8px;
  @include font-source-sans(18px, $green, 500, 20px);
}

.link {
  text-decoration: none;
  @include font-source-sans(18px, $white, 500, 20px);

  &:hover {
    color: $green;
  }
}
