@import '../../styles/colors.scss';
@import '../../styles/mixins';

.header {
  position: fixed;
  padding: 30px 0 20px 0;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid $grey_dark;
}

.header_container {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  a:hover {
    text-decoration: underline;
  }
}

.logo {
  @include font-source-sans(30px, $black, 900);
}

.entrance {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;

  div {
    display: flex;
    align-items: center;
  }

  button {
    height: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
  }
}

.userInfo {
  background-color: #ebebeb;
  border-radius: 14px;
  width: 302px;
  height: 88px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 55px;
  display: none !important;

  hr {
    color: #aeadad;
    size: 1px;
    width: 100%;
  }
  span {
    padding: 0 0 0 16px;
  }
  button {
    padding: 0 0 0 16px;
  }
}

.entrance:hover .userInfo {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: center;
}

.img {
  margin-left: 8px;
  height: 32px;
  width: 32px;
}
