@import '../../styles/colors.scss';
@import '../../styles/mixins';

.header {
  position: fixed;
  padding: 0;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #101010;
  color: #ffffff;
}

.header_container {
  max-width: calc(100% - 130px * 2);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  background-color: #101010;

  ul {
    width: 361px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: #101010;
  }

  a {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
  }
  a:hover {
    text-decoration: underline;
  }

  img {
    height: 80px;
    width: 80px;
    background-color: #101010;
  }
}

.entrance {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;

  div {
    display: flex;
    align-items: center;
  }

  button {
    height: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
  }
}

.userInfo {
  background-color: #ebebeb;
  border-radius: 14px;
  width: 302px;
  height: 88px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 55px;
  display: none !important;

  span {
    padding: 0 0 0 16px;
  }
  button {
    padding: 0 0 0 16px;
  }
}
