@import '../../styles/colors.scss';
@import '../../styles/mixins';

.aboutProject {
  padding: 100px 0 140px;
  width: 100%;
  background-color: $black;
  &_content {
    width: 82%;
    margin: 0 auto;
  }
  &_title {
    @include font-source-sans(40px, $white, 800, 52px, 'Inter');
    text-align: left;
    margin-bottom: 52px;
  }
  &_subtitle {
    @include font-source-sans(18px, $white, 400, 24px, 'Inter');
    text-align: left;
    margin-bottom: 44px;
  }
  &_items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  &_item {
    border: 1px solid $green;
    border-radius: 8px;
    padding: 40px 80px 40px 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 880px) {
      padding: 20px 40px 20px 20px;
    }
    @media screen and (max-width: 620px) {
      flex-direction: column;
      gap: 20px;
    }
    @media screen and (max-width: 420px) {
      padding: 18px;
    }
    @media screen and (max-width: 380px) {
      padding: 12px;
    }

    &__content {
      width: 50%;
       
      @media screen and (max-width: 620px) {
        width: 100%;
      }
    }
    &:nth-child(1) {
      .aboutProject_image {
        background-image: url(../../assets/images/Icon-first.svg);
      }
    }
    &:nth-child(2) {
      .aboutProject_image {
        background-image: url(../../assets/images/Icon-two.svg);
      }
    }
    &:nth-child(3) {
      .aboutProject_image {
        background-image: url(../../assets/images/Icon-third.svg);
      }
    }
  }

  &_image {
    width: 180px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;

    @media screen and (max-width: 880px) {
      width: 160px;
      height: 160px;
    }
    @media screen and (max-width: 620px) {
      width: 80px;
      height: 80px;
      align-self: end;
    }
  }

  &_titleItem {
    @include font-source-sans(28px, $white, 700, 32px, 'Inter');
    text-align: start;
    margin-bottom: 20px;

    @media screen and (max-width: 880px) {
      @include font-source-sans(24px, $white, 700, 28px, 'Inter');
    }
    @media screen and (max-width: 420px) {
      @include font-source-sans(22px, $white, 700, 26px, 'Inter');
    }
    @media screen and (max-width: 380px) {
      @include font-source-sans(20px, $white, 700, 24px, 'Inter');
    }
  }
  &_description {
    @include font-source-sans(18px, $white, 400, 24px, 'Inter');
    text-align: start;

    @media screen and (max-width: 380px) {
      @include font-source-sans(16px, $white, 700, 22px, 'Inter');
    }
  }
}
