@import '../../styles/colors.scss';
@import '../../styles/mixins';

.machine {
  padding-top: 180px;
  padding-bottom: 140px;
  background-color: $gray_light;
  @media (max-width: 960px) {
    padding-top: 100px;
  }
  &__button {
    width: 300px;
    grid-column: span 2;
    @media (max-width: 960px) {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
.content {
  width: 1140px;
  margin: 0 auto;
  display: grid;
  gap: 20px 20px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  @media (max-width: 1140px) {
    width: 960px;
    gap: 20px 0;
    justify-content: center;
  }
  @media (max-width: 960px) {
    width: 100%;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 0 20px;
  }
}
.switch {
  display: flex;
  align-items: center;
  gap: 20px;
  @media (max-width: 960px) {
    grid-column: span 2;
    justify-content: center;
  }
}
.tab {
  background: none;
  @include font-source-sans(18px, $black, 700, 20px);
  border-radius: 0;
  border: none;
  cursor: pointer;
  display: flex;
  height: 48px;
  align-items: center;
  padding: 0 12px;
  &Active {
    color: $violet;
  }
  &:disabled {
    color: $gray;
  }
}
.select {
  display: block;
  position: relative;
  &__cont {
    display: block;
    @media (max-width: 960px) {
      display: flex;
      justify-content: center;
    }
  }
  &__title {
    width: 380px;
    height: 40px;
    padding: 0 12px;
    @include font-source-sans(16px, $violet, 600, 20px);
    border-bottom: 1.5px solid $violet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  &__icon {
    transition: 0.3s ease-in;
    svg {
      fill: currentColor;
    }
  }
  &__hide {
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    transition: 0.5s ease-in;
    overflow: hidden;
    z-index: 3;
  }
  &__list {
    width: 380px;
    display: grid;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    border: 1.5px solid $violet;
    border-top: 0;
    box-sizing: border-box;
    li {
      list-style-type: none;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 12px;
      background: $white;
      cursor: pointer;
      @include font-source-sans(16px, $gray_dark, 600, 20px);
      &:first-child {
        border-top: 0;
      }
    }
  }
  &__open {
    position: relative;
    .select__icon {
      transform: rotate(180deg);
      & div {
        height: 16px;
      }
    }
    .select__title {
      border-radius: 5px 5px 0 0;
    }
  }
}
.text {
  width: 100% !important;
  min-height: 250px;
  padding: 20px 20px 0px;
  background: $white;
  resize: none;
  border: none;
  outline: none;
  border-radius: 8px;
  @include font-source-sans(16px, $black, 600, 19px);
  &:focus-visible {
    outline: none;
  }
}
.copy {
  &__cont {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 30px;
    background-color: $white;
    border: 1.5px solid $white;
    @media (max-width: 1140px) {
      grid-column: span 2;
    }
    &:focus-within {
      border: 1.5px solid $violet;
      border-radius: 8px;
    }
  }
  &__input {
    position: relative;
    border-radius: 8px;
    padding-bottom: 30px;
    background-color: $white;
    border: 1.5px solid $white;
    @media (max-width: 1140px) {
      grid-column: span 2;
    }
    &:focus-within {
      border: 1.5px solid $violet;
      border-radius: 8px;
    }
  }
  &__button {
    position: absolute;
    bottom: 3px;
    left: 12px;
    border: none;
    cursor: pointer;
    color: $gray_secondary;
    z-index: 3;
    background-color: $white;
    svg {
      stroke: currentColor;
    }
  }
  &__message {
    position: absolute;
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $violet;
    @include font-source-sans(16px, $white, 600, 19px);
    overflow: hidden;
    transition: 0.3s ease-in;
    &Show {
      height: 40px;
    }
  }
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 20px;
}
.count {
  position: absolute;
  bottom: 12px;
  left: 12px;
  color: $gray_dark;
}
.modal {
  &__title {
    color: $white;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 0;
    margin-bottom: 20px;
    text-align: center;
  }
  &__form {
    display: grid;
    gap: 24px;
  }
  &__input {
    width: 100%;
    background-color: $white;
    height: 48px;
    padding: 0 12px;
    border: none;
    border-radius: 8px;
  }
  &__key {
    width: 276px;
  }
  &__qr {
    width: 276px;
    display: grid;
    justify-content: center;
    svg {
      width: 256px;
      height: 256px;
    }
    .modal__desc {
      display: flex;
      height: 256px;
      align-items: center;
    }
  }
  &__desc {
    color: $white;
    font-size: 16px;
    text-align: center;
  }
}
.button {
  width: 300px;
  height: 44px;
  @include font-source-sans(16px, $white, 600, 19px);
  background-color: $green_light;
  border: none;
  border-radius: 8px;
  padding: 0 25px;
  cursor: pointer;
  box-sizing: border-box;
  color: $black;
  &:disabled {
    cursor: default;
    opacity: 0.6;
  }
}
.alert{
  position: absolute;
  top:2px;
  right:-1px;
  @media (max-width: 1140px) {
    width: calc(100% - 20px);
    display: flex;
    justify-content: flex-end;
  }
  &__cont{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &__button{
    background: none;
    border:none;
    cursor: pointer;
      svg{
      stroke:$gray_dark;
    }
    &:hover{
      animation: alert .3s ease-in-out infinite ;
    }
  }
  &__hide{
    position: absolute;
    top:30px;
    left:5px;
    padding: 16px;
    background-color: $gray;
    z-index: 8;
    width: 536px;
    display: flex;
    gap:12px;
    @include font-source-sans(18px, $black, 400, 24px);
    box-shadow: 4px 4px 20px 0px rgba(14, 14, 15, 0.16);
    border-radius: 8px;
    @media (max-width: 1140px) {
      left:initial;
      right: 5px;
    }
    @media (max-width: 600px) {
      width: calc(100% - 20px);
    }
    ul{
      padding-left: 18px;
      margin-top: 10px;
    }
  }
  &__close{
    display: block;
    background: none;
    border:none;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
     &::after, &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 10px;
      height: 20px;
      width: 1px;
      background-color: $black;
    }
    &::after {
      transform: rotate(-45deg);
    }
    &::before {
      transform: rotate(45deg);
    }
  }
}

@keyframes alert {
  40% {transform: none}
  70% {transform: rotate(-10deg)}
  95% {transform: rotate(10deg)}
}
