@import '../../styles/colors.scss';
@import '../../styles/mixins';

.aboutCiphers {
  &_title {
    @include font-source-sans(38px, $black, 900);
    margin-bottom: 46px;
    margin-top: 68px;
    text-align: left;
  }

  &_cipher {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(200px, 72%);
    align-items: center;
    border-bottom: 2px solid $border;
    &:last-child {
      border: none;
    }
  }

  &_name {
    @include font-source-sans(30px, $black, 800);
    max-width: 367px;
    text-align: initial;
  }

  &_description {
    @include font-source-sans(24px, $black, 600);
    text-align: initial;
    padding: 20px 0 20px 20px;
    border-left: 2px solid $border;
  }
}
