@import '../../styles/colors.scss';
@import '../../styles/mixins';

.aboutCiphers {
  background-color: $violet;
  padding: 100px 0 140px;
  width: 100%;

  &_content {
    width: 82%;
    margin: 0 auto;
  }

  &_title {
    @include font-source-sans(40px, $white, 800, 52px);
    margin-bottom: 52px;
    text-align: left;
    text-transform: uppercase;
  }
}
