@import '../../styles/colors.scss';
@import '../../styles/mixins';

.footer {
  height: 80px;
  margin: 0 auto;
  padding: 30px 0;
  position: sticky;
  background-color: $gray_light;
}

.footer_container {
  width: calc(100% - 130px * 2);
  margin: 0 auto;
}

.telephone {
  @include font-source-sans(16px, $black, 400, 20px);
}
