@import '../../styles/colors.scss';
@import '../../styles/mixins';

.footer {
  width: 1440px;
  height: 80px;
  margin: 0;
  padding: 30px 0;
  position: sticky;
  // заменить на миксин, когда будут общие стили
  background-color: #f4f2eb;
}

.footer_container {
  width: calc(100% - 130px * 2);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    font-weight: 600;
    justify-content: space-between;
    width: 100%;
  }

  li {
    margin-right: 12px;
  }

  a {
    text-decoration: none;
    color: $black;
  }

  a:visited {
    // заменить на миксин, когда будут общие стили
    color: #caf23a;
  }

  p {
    @include font-source-sans(16px, $black, 400, 19px);
  }
}
