@import '../../styles/colors.scss';
@import '../../styles/mixins';

.footer {
  width: 100%;
  border-top: 2px solid $grey_dark;
  padding: 10px 0;
  position: sticky;
}

.footer_container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    font-weight: 600;
  }

  li {
    margin-right: 12px;
  }

  a {
    text-decoration: none;
    color: $black;
  }

  p {
    @include font-source-sans(16px, $black, 400, 19px);
  }
}

.contacts {
  display: flex;
  align-items: center;

  span {
    @include font-source-sans(16px, $black, 400, 19px);
    margin-right: 5px;
  }
}
