@import '../../styles/colors.scss';

.link {
  color: $green !important;
  background: $violet;
  text-align: center;
  margin-top: 8px;
}

.input__password {
  & button {
    //border: 1px solid black;
    border: none;
    border-radius: 10px;
    background: transparent;
    padding: 0;
    cursor: pointer;
    transition: 0.2s;
  }
}
