@import '../../styles/colors.scss';
@import '../../styles/mixins';

.link {
  text-decoration: none;
  @include font-source-sans(18px, $white, 500, 20px);
  font-style: normal;

  &:hover {
    color: $green;
  }
}
